* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

/* header */

.header-wrapper {
  width: 100%;
  height: 48px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px rgb(189, 193, 198);
  position: fixed;
  z-index: 9;
}

.header-div {
  width: 98%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header-div img {
  width: 185px;
  height: 32px;
}

.header-nav {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding-left: 30px;
}

.header-ul li {
  color: rgb(95, 99, 104);
  font-size: 13px;
}

.header-ul li:hover {
  cursor: pointer;
  color: rgb(32, 33, 36);
}

.header-icon {
  display: flex;
}

.nav-arrow {
  margin-left: 5px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-div,
.seach-input,
.langue-select,
.burger-button,
.profile-button {
  height: 36px;
  margin: 10px;
}

.icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(241, 243, 244);
  background-color: rgb(241, 243, 244);
  width: 36px;
  margin-right: -10px;
  border-radius: 10% 0 0 10%;
}

.fa-magnifying-glass {
  color: rgb(95, 99, 104);
}

.seach-input {
  font-size: 16px;
  color: rgb(95, 99, 104);
  border: none;
  background-color: rgb(241, 243, 244);
  border-radius: 0 5% 5% 0;
}

.langue-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
  border: 1px solid rgb(218, 220, 224);
  padding: 10px;
  cursor: pointer;
}

.burger-button {
  width: 36px;
  border-radius: 50%;
  border: 1px solid rgb(205, 206, 211);
  background-color: white;
}

.burger-button:hover {
  cursor: pointer;
  background-color: rgb(232, 234, 237);
}

.burger:after {
  content: "\2807";
  font-size: 24px;
  margin-left: 8px;
  color: rgb(95, 99, 104);
}

.profile-button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
  transform: translateY(5%);
}

.profile-button:hover {
  cursor: pointer;
}

.profile-button img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

/* banner */

.banner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  background-color: rgb(252, 173, 112);
}

.banner-container {
  margin: auto;
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-text {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner-text h2 {
  font-size: 32px;
  margin-top: 60px;
}

.banner-text p {
  font-size: 16px;
  margin: 25px 0;
}

.banner-text button {
  align-self: flex-start;
  width: 118px;
  height: 36px;
  margin-bottom: 60px;
  background-color: rgb(252, 173, 112);
  border: 1px solid black;
  font-size: 14px;
  border-radius: 6%;
  font-weight: bold;
  transition: 0.2s;
}

.banner-text button:hover {
  cursor: pointer;
  background-color: rgb(214, 147, 95);
}

.banner-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49%;
  height: 90%;
}

.banner-img img {
  width: 98%;
  height: 80%;
  border-radius: 2%;
}

/* product */

.product-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
}

.product-title {
  margin: 0 auto;
  font-size: 44px;
}

.product-list {
  width: 94%;
  margin: 30px auto;
}

.product-ul {
  list-style: none;
  display: flex;
  max-width: 1440px;
  flex: 1 121px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.product-ul li {
  width: 25%;
  height: 30%;
  text-align: center;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.product-ul img {
  width: 64px;
  height: 64px;
  display: inline-block;
  margin: 32px 0 0;
}

.product-ul p {
  margin-top: 22px;
  font-weight: bold;
}

.product-android img {
  width: 64px;
  height: 36px;
  transform: translateY(50%);
}

.product-android p {
  margin-top: 50px;
}

.product-footer {
  height: 52px;
}

.product-button {
  height: 60%;
  font-size: 14px;
  margin: 4px 4px 4px 12px;
  padding: 0 24px;
  background-color: rgb(26, 115, 232);
  border: none;
  border-radius: 5px;
  color: white;
  transition: 0.2s;
}

.product-button:hover {
  cursor: pointer;
  background-color: rgb(23, 101, 204);
}

/* aside */

.aside-wrapper {
  width: 100%;
  margin-top: 90px;
  margin-bottom: 30px;
}

.aside-container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aside-article {
  width: 49%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 15px;
  position: relative;
}

.aside-card {
  width: 100%;
}

.aside-float {
  position: absolute;
  width: 160px;
  height: 160px;
  right: 10px;
  top: -28px;
}

.aside-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aside-content span {
  font-size: 24px;
  color: rgb(26, 115, 232);
  margin-bottom: 20px;
}

.aside-content button {
  height: 36px;
  align-self: flex-start;
  border: 1px solid rgb(218, 220, 224);
  background-color: white;
  color: rgb(26, 115, 232);
  font-size: 14px;
  font-weight: 500;
  padding: 5px 10px;
  margin: 10px 5px;
  border-radius: 4px;
  transition: 0.2s;
}

.aside-content button:hover {
  cursor: pointer;
  background-color: rgb(232, 240, 254);
}

/* news */

.news-wrapper {
  width: 100%;
  background-color: rgb(241, 243, 244);
  padding-bottom: 30px;
}

.news-container {
  width: 76%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news-title {
  font-size: 32px;
  margin-top: 30px;
}

.news-ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.news-ul li {
  width: 23%;
  border: 1px solid rgb(218, 220, 224);
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  padding: 0 10px;
}

.news-icon {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news-ul button {
  align-self: flex-start;
  border: none;
  height: 36px;
  background-color: white;
  color: rgb(26, 115, 233);
  margin: 10px 10px 10px 0;
  font-size: 14px;
  transition: 0.2s;
}

.news-ul button:hover {
  cursor: pointer;
  background-color: rgb(232, 240, 254);
}

.news-ul figure {
  width: 100%;
  height: 191.25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-ul figure img {
  width: 96px;
  height: 96px;
}

#android {
  height: 54.19px;
}

.news-ul h2 {
  color: rgb(26, 115, 233);
  font-weight: 400;
}

/* developer */

.developer-wrapper {
  width: 100%;
  padding-top: 30px;
}

.developer-container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.developer-about {
  width: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.developer-about h2 {
  font-size: 32px;
  font-weight: 500;
}

.developer-about p {
  font-size: 18px;
}

.developer-about button {
  height: 36px;
  border: 1px solid rgb(218, 220, 224);
  background-color: white;
  color: rgb(26, 115, 233);
  font-size: 14px;
  padding: 0 24px;
  border-radius: 5px;
  margin-top: 20px;
  transition: 0.2s;
}

.developer-about button:hover {
  cursor: pointer;
  background-color: rgb(232, 240, 254);
}

.developer-info {
  width: 100%;
}

.developer-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.developer-list li {
  width: 24%;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(218, 220, 224);
  padding: 20px 0;
  border-radius: 10px;
}

.developer-list li figure {
  width: 100px;
  height: 100px;
  margin: 10px 0 0 0;
}

.developer-list li figure img {
  width: 100%;
  border-radius: 50%;
}

.develoer-expertise {
  text-align: center;
}

.developer-feild {
  color: rgb(128, 128, 128);
}

.developer-list li button {
  height: 36px;
  border: none;
  background-color: white;
  color: rgb(26, 115, 233);
  padding: 3px 5px;
  font-size: 14px;
  font-weight: 500;
  transition: 0.2s;
  border-radius: 5px;
}

.developer-list li button:hover {
  cursor: pointer;
  background-color: rgb(232, 240, 254);
}

/* contact */

.contact-wrapper {
  width: 100%;
  border-top: 1px solid rgb(218, 220, 224);
}

.contact-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.contact-list {
  height: 220px;
}

.contact-list ul {
  height: 95%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact-list li {
  margin-top: 10px;
  font-size: 14px;
}

.contact-list a {
  text-decoration: none;
  color: black;
}

.contact-list a:hover {
  color: rgb(26, 115, 233);
}

/* console */

.console-wrapper {
  width: 100%;
}

.console-container {
  width: 98%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-top: 1px solid rgb(218, 220, 224);
  border-bottom: 1px solid rgb(218, 220, 224);
}

.console-container figure {
  width: 185px;
  height: 32px;
  margin-right: 10px;
}

.console-ul {
  list-style: none;
  display: flex;
}

.console-ul a {
  text-decoration: none;
  color: black;
}

.console-ul a:hover {
  color: rgb(26, 115, 233);
}

.console-ul li {
  margin: 0px 20px;
}

/* footer */

.footer-wrapper {
  width: 100%;
  height: 84px;
  display: flex;
}

.footer-container {
  width: 98%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -10px;
}

.footer-container a {
  font-size: 14px;
}

.footer-subscribe p {
  font-size: 14px;
}

.footer-subscribe button {
  height: 36px;
  margin: 0 10px;
  background-color: rgb(26, 115, 233);
  border: none;
  color: white;
  font-size: 14px;
  padding: 0 24px;
  border-radius: 8px;
  transition: 0.2s;
}

.footer-subscribe button:hover {
  cursor: pointer;
  background-color: rgb(23, 101, 204);
}

.langue-select {
  border-radius: 5px;
  cursor: pointer;
}
